
body{
  background-color: #E9E9E9;
}
.outer{
    height: 550px;
    width: 1100px;
    /* border: 1px solid black; */
    /* position: relative; */
    margin-top: 50px;
    margin-left: 90px;
}

.login_img img{
    height: 800px;
    width: 800px;
    position: absolute;
    top: -30px;
    left: 30px;
    /* box-shadow: 0px  0px 0px rgba(0,0,0,.6); */
}

.login-box {
    position: absolute;
    top: 50%;
    left: 70%;
    width: 400px;
    padding: 60px;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(39, 38, 38, 0.233),rgba(20, 20, 20, 0.26));
    box-sizing: border-box;
    box-shadow: 12px 17px 51px rgba(29, 96, 221, 0.297);
    /* box-shadow: 5px px 0px 0px black; */
    border-radius: 10px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #000;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #129BEF;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 0 5px #129BEF,
                0 0 25px #129BEF,
                0 0 50px #129BEF,
                0 0 100px #129BEF;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #129BEF);
    animation: btn-anim1 2s linear infinite;
  }