/* --------------Font------------- */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@1,700&family=Inconsolata:wght@300&family=Ubuntu:ital,wght@0,300;0,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

:root{
    --orange:#ff6600;
    --white:#fff;
    --gray:#f5f5f5;
    --black01:#222;
    --black02:#999;
}

body{
    min-height: 100vh;
    overflow: hidden;
}

.dash_cotainer{
    position: relative;
    width: 100%;
}

.das_navigation{
    position: fixed;
    width: 200px;
    height: 100%;
    background: var(--orange);
    border-left: 10px solid var(--orange);
    transition: 0.5s;
    overflow: hidden;
}

.das_navigation.active{
    width: 80px;
}

.das_navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.das_navigation ul li{
    position: relative;
    width: 100%;
    list-style-type: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.sideNav-img a img.active{
   display: none;
}

.sideNav-img a img{
    border-radius: 50%;
    height: 100px;
    margin-left: 70px;
    margin-top: 30px;
  }

.das_navigation ul li:hover,
.das_navigation ul li.hovered{
    background-color: var(--white);
}

.das_navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}

.das_navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.das_navigation ul li:hover a,
.das_navigation ul li.hovered a{
    color: var(--orange);
}

.das_navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}

.das_navigation ul li a .icon ion-icon{
    font-size: 1.75rem;
}

.das_navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}



/* ------------Curve outside------------------- */

.das_navigation ul li:hover a::before,
.das_navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top:-50px;
    width: 50px;
    height: 50px;
    background-color:transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.das_navigation ul li:hover a::after,
.das_navigation ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom:-50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}



/* -----------------Main Content------------- */

.main_content{
    position: absolute;
    width: calc(100% - 200px);
    left: 200px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main_content.active{
    width: calc(100% - 80px);
    left: 80px;
}

.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle{
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.search{
    position: relative;
    width: 600px;
    margin: 0 10px;
}

.search label{
    position: relative;
    width: 100%;
}

.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: none;
}

.search label ion-icon{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
}

.user{
    position: relative;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.header-box{
    background-color: #d4f7ac;
    height: 600px;
}

  .cardbox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }


  .cardbox .Card{
    position:relative;
    background: var(--white);
    padding: 25px;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }

  .cardbox .Card .number{
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--orange);
  }

  .cardbox .Card .cardName{
    color: var(--black02);
    font-size: 1.1rem;
    margin-top: 5px;
  }

  .cardbox .Card .iconBox{
    font-size: 3.5rem;
    color: var(--black02);
  }

.cardbox .Card:hover{
    background: var(--orange);
}

.cardbox .Card:hover .number,
.cardbox .Card:hover .cardName,
.cardbox .Card:hover .iconBox{
    color: var(--white);
}



/* Respinsive */




/* Main Header Contant Section Start */

/* .recent{
    margin-top: 3rem;
} */

.activity-grid{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-column-gap: 1.5em;
}

.activity-card{
    background: #fff;
    border-radius: 7px;
    margin-left: 20px;
}

.activity-card h3{
    color: var(--black02);
    margin: 1rem;
}

.activity-card table{
    width: 100%;
    border-collapse: collapse;
}

.activity-card thead{
    background: #efefef;
    text-align: left;
}



th, td{
    font-size: .9rem;
    padding:  .6rem 1rem;
}


td{
    font-size: .8rem;
}

tbody tr:nth-child(even){
    background: #f9fafc;
}


.badge{
    padding: .2rem 1rem;
    border-radius: 20px;
    font-weight: 700;
    font-size: .7rem;
}

.badge.success{
    background: #DEF7EC;
    color: green;
}
.badge.waring{
    background: #f0f6b2;
    color: orange;
}

.td-team{
    display: flex;
    align-items: center;
}

.img-1,
.img-2,
.img-3{
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-left: -15px;
    border: 3px solid #efefef;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-1{
    background: url(/img/face1.jpg  );
}
.img-2{
    background: url(/img/face2.jpg);
}
.img-3{
    background: url(/img/face2.jpg);
}




/* Summary Card Section start */

.summary-card{
    background: #fff;
    border-radius: 7px;
    margin-left: 20px;
}

.summary-card{
    margin-bottom: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-right: 50px;
}

.summary-single{
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
}

.summary-single ion-icon{
    font-size: 1.5rem;
    color: #777;
    padding-right: 1rem;
}

.summary-single h5{
    color: var(--orange);
    font-size: 1.1rem;
    margin-bottom: 0rem !important;

}

.summary-single  small{
    font-weight: 700;
    color: var(--black02);
}

/* Summary Card Section End */

/* Copytight section */

.copyright{
    color: #222;
    font-weight: 500;
    font-size: .8rem;
    margin-left: 10px;
}

.copyright span{
    color: var(--orange);
}


/* Main Header Contant Section End */


/*lodeer section start*/

.loader-container
{
    position: fixed;
    top: 0; left: 0;
    z-index: 10000;
    background:#E5EFF1;
    display: flex;
    align-items:center ;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loader-container.fade-out
{
    top: -120%;
}

/*lodeer section end */


@media   (max-width:991px){
    .das_navigation{
        left: -300px;
    }

    .das_navigation.active{
        width: 300px;
        left: 0;
    }

    .main_content{
        width: 100%;
        left: 0;
    }

    .main_content.active{
        left: 300px;
    }

    .cardbox{
        grid-template-columns: repeat(2, 1fr);
    }
 
   

}

@media   (max-width:768px){
    .summary{
       grid-template-columns: 1fr;
    }
}